html
head
title Account Activation Success
link(rel='stylesheet', href='/stylesheets/style.css')
body
div#header
h1 Account Activation Success
div#content
    p Verification Succeeded. Welcome, #{username}!
p Your email address has been verified successfully.
p Thank you for choosing our service!