html
head
title Account Activation Fail
link(rel='stylesheet', href='/stylesheets/style.css')
body
div#header
h1 Account Activation Fail
div#content
    p Verification Failed.
p This token has been used or wrong, Please check your token. Try again to get new token!
p Thank you for choosing our service!