html
head
title Account Password Reset Success
link(rel='stylesheet', href='/stylesheets/style.css')
body
div#header
h1 Account Password Reset Success
div#content
    p Account Password Reset Success!
p Your Password has been reset successfully. Please Login with your new password.
p Thank you for choosing our service!