html
head
title Reset Token Failed
link(rel='stylesheet', href='/stylesheets/style.css')
body
div#header
h1 Reset Token Failed
div#content
    p Sorry, the Reset Token link you've clicked is expired or an access error occurs, please require the link again for reset password.
p Thank you for choosing our service!